@import '../../styles//base/breakpoints';

.header {
  grid-area: header;

  background-color: var(--primary-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  a {
    .brand {
      flex: 1;
      text-align: center;
      font-size: 5em;
      font-weight: 200;
      user-select: none;

      @media (max-width: $main-layout-breakpoint-xxm) {
        font-size: 4rem;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--brand-color-2);

        @media (max-width: $main-layout-breakpoint-xxm) {
          padding-top: 1.3rem;
        }

        &:first-child {
          left: 55%;
          color: var(--brand-color-1);
          animation: brand-animation-right 6s infinite alternate linear;
        }

        &:last-child {
          left: 45%;
          color: var(--brand-color-3);
          animation: brand-animation-left 6s infinite alternate linear;
        }
      }
    }
  }

  &_languagetoggler {
    display: none;

    position: absolute;
    left: 7%;

    @media (max-width: $main-layout-breakpoint-xxm) {
      display: block;
    }
  }

  &_themetoggler {
    display: none;

    position: absolute;
    right: 7%;

    @media (max-width: $main-layout-breakpoint-xxm) {
      display: block;
    }
  }
}


@keyframes brand-animation-left {
  to {
    left: 55%;
  }
}

@keyframes brand-animation-right {
  to {
    left: 45%;
  }
}
