.header {
  grid-area: header;

  background-color: var(--primary-color);
  color: var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .brand {
    text-align: center;
    font-size: 5em;
    font-weight: 200;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--brand-color-2);

      pointer-events: none;

      &:first-child {
        opacity: .8;
        left: 55%;
        color: var(--brand-color-1);
        animation: brand-animation-right 6s infinite alternate linear;
      }
      &:last-child {
        opacity: .5;
        left: 45%;
        color: var(--brand-color-3);
        animation: brand-animation-left 6s infinite alternate linear;
      }
    }
  }
}


@keyframes brand-animation-left {
  to {
    left: 55%;
  }
}

@keyframes brand-animation-right {
  to {
    left: 45%;
  }
}
