.animelist {
  flex: 1;

  display: grid;
  column-gap: var(--anime-list-gap);
  row-gap: var(--anime-list-gap);
  grid-template-columns: repeat(auto-fill, var(--anime-list-width));
  grid-auto-rows: var(--anime-list-height);
  justify-content: space-evenly;
}
