@import '../../styles//base/breakpoints';

.animedetails {
  display: flex;
  overflow: auto;

  @media (max-width: $main-layout-breakpoint-xm) {
    flex-direction: column;
  }

  &_detailsholder {
    padding: 1rem;

    flex: 1.5;

    display: flex;
    flex-direction: column;

    &_image {
      border-radius: 1rem;
      border: .2rem solid;
      border-left-color: var(--brand-color-1);
      border-top-color: var(--brand-color-1);
      border-right-color: var(--brand-color-3);
      border-bottom-color: var(--brand-color-3);

      background-color: var(--primary-color);
      padding: .5rem;

      width: max-content;

      @media (max-width: $main-layout-breakpoint-xm) {
        align-self: center;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    &_details {
      flex: 1;
      margin-top: 1rem;

      @media (max-width: $main-layout-breakpoint-xm) {
        justify-content: center;
        text-align: center;
      }
    }
  }

  &_episodesholder {
    display: flex;

    flex: 8.5;
    flex-direction: column;

    @media (max-width: $main-layout-breakpoint-xm) {
      justify-content: center;
      text-align: center;
    }

    padding: 1rem;

    h2 {
      margin-top: 1rem;
      @media (max-width: $main-layout-breakpoint-xm) {
        text-align: center;
      }
    }
  }
}
