.layout_main_section {
  grid-area: main;

  background-color: var(--background-color);
  color: var(--text-color);

  padding-top: var(--topbar-height-initial);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}
