.main {
  grid-area: main;

  padding-top: var(--topbar-height-initial);

  background-color: var(--background-color);
  color: var(--text-color);

  overflow-y: auto;

  display: flex;
  flex-direction: column;
}
