@import '../../styles//base/breakpoints';

.topbar {
  position: fixed;

  display: flex;
  align-content: center;

  height: var(--topbar-height-initial);
  width: 100%;

  top: 0%;

  @media (max-width: $main-layout-breakpoint) {
    top: var(--header-mobile-height);
  }

  padding: var(--topbar-padding);

  //background-color: var(--primary-color);

  backdrop-filter: blur(1rem);

  z-index: 1;

  h2 {
    color: var(--text-color);
    line-height: var(--topbar-height-initial);
  }
}
