.lighttheme_mini {
  width: 100vh;
  height: 100vh;

  position: fixed;
  background: #ffffff;
  mix-blend-mode: difference;
  pointer-events: none;

  transform: translate(-50%, 50%) scale(0);
  border-radius: 50% ;

  animation: overlay-light-in 1000ms forwards;
}

.lighttheme_full {
  width: 100vh;
  height: 100vh;

  position: fixed;
  background: #ffffff;
  mix-blend-mode: difference;
  pointer-events: none;

  transform: translate(-50%, 50%) scale(5);
  border-radius: 50% ;

  animation: overlay-light-out 1000ms forwards;
}

@keyframes overlay-light-in {
  to {
    transform: translate(-50%, 50%) scale(5);
  }
}

@keyframes overlay-light-out {
  to {
    transform: translate(-50%, 50%) scale(0);
  }
}
