// Breakpoints
$main-layout-breakpoint-xxs: 390px;
$main-layout-breakpoint-xs: 445px;
$main-layout-breakpoint-s: 560px;
$main-layout-breakpoint-xxm: 600px;
$main-layout-breakpoint-xm: 850px;
$main-layout-breakpoint-m: 1200px;
