.main-grid-container {
  display: grid;
  grid-template-columns: var(--navbar-width) 1fr;
  grid-template-rows: var(--navbar-width) 1fr;
  height: calc(100 * var(--vh));

  grid-template-areas:
    "header main"
    "navbar main";

  @media screen and (max-width: $main-layout-breakpoint-xxm) {
    grid-template-columns: 1fr;

    grid-template-rows: var(--header-mobile-height) 1fr var(--navbar-mobile-height);
    grid-template-areas:
    "header"
    "main"
    "navbar";
  }
}
