// === CSS varables === //

:root {
  // Fonts
  --font-family: 'Tajawal', sans-serif;
  --initial-font-size: 62.5%; // 10px

  // Colors

  --primary-color: rgb(15, 14, 15);
  --background-color: rgb(16, 17, 17);

  --accent-color: #6da7a0;
  --text-color: #bcbcbc;

  --brand-color-1: rgb(216, 57, 62);
  --brand-color-2: rgb(145, 144, 144);
  --brand-color-3: rgb(99, 211, 198);

  // Sizes
  --navbar-width: 12rem;

  --topbar-padding: 0 4rem;
  --topbar-height-initial: 8rem;
  --topbar-height-scrolled: 3rem;

  --anime-list-height: 15rem;
  --anime-list-width: 20rem;

  --anime-list-gap: 2rem;

  // Effects
}
