// === CSS varables === //

:root {
  // Fonts
  --font-family: 'Tajawal', sans-serif;
  --initial-font-size: 62.5%; // 10px

  // Colors

  --primary-color: rgb(15, 14, 15);
  --background-color: rgb(16, 17, 17);

  --accent-color: #6da7a0;
  --text-color: #fff2f2;

  --brand-color-1: rgb(216, 57, 62, .7);
  --brand-color-2: rgb(145, 144, 144);
  --brand-color-3: rgb(27, 161, 146, .7);

  // Sizes
  --navbar-width: 12rem;
  --navbar-mobile-height: 5rem;
  --header-mobile-height: 5rem;

  --topbar-padding: 0 4rem;
  --topbar-height-initial: 8rem;
  --topbar-height-scrolled: 3rem;
  @media (max-width: $main-layout-breakpoint-xxm) {
    --topbar-padding: 0 1rem;
    --topbar-height-initial: 4rem;
    --topbar-height-scrolled: 4rem;
  }

  --anime-list-height: 32rem;
  --anime-list-width: 20rem;
  --anime-list-gap: 2rem;

  @media (max-width: $main-layout-breakpoint-xxm) {
    --anime-list-height: 23rem;
    --anime-list-width: 13rem;
    --anime-list-gap: 1rem;
  }

  @media (max-width: $main-layout-breakpoint-m) {
    --anime-list-height: 26rem;
    --anime-list-width: 15rem;
    --anime-list-gap: 1rem;
  }

  @media (max-width: $main-layout-breakpoint-s) {
    --anime-list-height: 22rem;
    --anime-list-width: 14rem;
    --anime-list-gap: 1rem;
  }

  @media (max-width: $main-layout-breakpoint-xs) {
    --anime-list-height: 20rem;
    --anime-list-width: 12rem;
    --anime-list-gap: 1rem;
  }

  @media (max-width: $main-layout-breakpoint-xxs) {
    --anime-list-height: 18rem;
    --anime-list-width: 10rem;
    --anime-list-gap: 1rem;
  }

  // Effects
}
