// === CSS varables === //

:root {
  // Fonts
  --font-family: 'Tajawal', sans-serif;
  --initial-font-size: 62.5%; // 10px

  // Colors

  // #222831
  // #30475e
  // #f2a365
  // #ececec

  --primary-color: #30475e;
  --accent-color: #f2a365;
  --background-color: #222831;
  --text-color: #ececec;

  // Sizes
  --navbar-width: 12rem;

  // Effects
}
