@import '../../styles/base/breakpoints';

.themetoggler {
  outline: none;
  background-color: transparent;

  padding: 1.3rem;
  border: .2rem solid var(--text-color);
  border-radius: 1rem;
  font-size: 1.2em;

  z-index: 2;
  position: relative;

  @media (max-width: $main-layout-breakpoint-xxm) {
    display: block;
    padding: .7rem;
    border: .1rem solid var(--text-color);
    border-radius: .7rem;
    font-size: 1em;
  }
}
